body {
  background-color: #E0EBE8;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  width: 2%;
}

h1 {
  color: #0A6F4C;
}

h3 {
  color: #0A6F4C;
}

img {
  width: 200px;
}
