body {
  background-color: #E0EBE8;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  width: 2%;
}

h1 {
  color: #0A6F4C;
}

h3 {
  color: #0A6F4C;
}

img {
  width: 200px;
}

input[type=text] {
  width: 18%;
  margin: 2px 0;
}

input[type=email] {
  width: 18%;
  margin: 2px 0;
}
input[type=password] {
  width: 18%;
  margin: 2px 0;
}
